//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

/*Font Sizes*/
p, span, label{
  font-size: 13px!important;
}

#f42-quote-settings_changed {
  background-color: #0dc2d9;
  border-radius: 5px;
}

#f42-quote-settings_changed svg {
  fill: #ffffff;
}

#f42-quote-settings_changed .slds-form-element__label {
  color: #fff;
}

.f42-quote-settings_changed {
  background-color: #0dc2d9;
  border-radius: 5px;
}

.f42-quote-settings_changed svg {
  fill: #ffffff;
  display:none;
}

.f42-quote-settings_changed .slds-form-element__label {
  color: #fff; 
}


.slds-checkbox_faux_container .slds-checkbox_on {
  display: none !important;
}

.slds-checkbox_faux_container .slds-checkbox_off {
  display: none !important;
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux {
  background-color: #4bca81 !important;
  border-color: #4bca81 !important;
}

.slds-checkbox .slds-checkbox_faux,
.slds-checkbox .slds-checkbox--faux {
  //border-color:red;
  border-radius: 1rem;
}

.slds-checkbox [type="checkbox"]:checked+.slds-checkbox_faux:after,
.slds-checkbox [type="checkbox"]:checked+.slds-checkbox--faux:after,
.slds-checkbox [type="checkbox"]:checked~.slds-checkbox_faux:after,
.slds-checkbox [type="checkbox"]:checked~.slds-checkbox--faux:after,
.slds-checkbox [type="checkbox"]:checked+.slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type="checkbox"]:checked+.slds-checkbox__label .slds-checkbox--faux:after {
  border-bottom: 2px solid #4bca81 !important;
  border-left: 2px solid #4bca81 !important;
}

/*CustomSettings Bubble*/
.slds-grid .slds-text-align_right svg {
  display: none;
}

.CustomSettings_savebubble .slds-text-align_right svg {
  display: block;
}

/*Checkbox for selecting Modified Changes*/
.checkbox_showmodified{
  display: none;
}
.checkbox_showmodified__on{
  display: block!important;
}

/*Select Width*/
.slds-select_container{
  width: 40%;
}

.slds-input{
  width: 40%;
}